<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Book Store</title>
  </head>
  <body>
  <div class="container bg-light">
    <h1 class="text-secondary">Add Book</h1>
    <form method="POST" action="/">
      <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputTitle" name="title">
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add</button>
    </form>
      </div>
    <div>
    {% if error %}
    <p class="error"><strong class="text-danger">Error:</strong> {{ error }}
  {% endif %}
<div>
    <h1 class="text-warning">Show Books</h1>
    <table class="table table-striped">
      {% for book in books %}
      <tbody>
        <tr>
          <td>
            <span class="font-weight-bold">{{book.title}}</span>
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="oldtitle"> 
      <input type="text" value="{{book.title}}" name="newtitle">
              <button type="submit" class="btn btn-success mb-2 ml-1">Update</button>
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title">
              <button type="submit" class="btn btn-danger mr-5 mb-2">Delete</button>
            </form>
          </td>
        </tr>
        </tbody>
      {% endfor %}
    </table>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
